@import url("https://use.typekit.net/zjg0exe.css");
.parrafo {
  padding: 4rem 8rem 2rem 8rem;
  color: #383f7b;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  line-height: 1.3;
}

.bg-body-mine {
  font-family: "titillium-web", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
}

.titles {
  color: #383f7b;
  text-align: center;
}

.vidtitle {
  color: #383f7b;
}

.txtresaltado {
  font-weight: 600;
}

.parrafo {
  border-radius: 30px;
  background: transparent;
  box-shadow: 10px 10px 20px #e1e1e1, -10px -10px 20px #fbfbfb;
}

/*
.grandeTxt {
    font-size: 1.563rem;
    font-weight: 300;
    letter-spacing: 0.04;
    line-height: 1.6;
}*/
.firma {
  font-family: "good-karma-regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.953rem;
}

.vidslinks {
  display: flex;
  flex-direction: column;
}

.vids {
  line-height: 2.6;
  margin-top: 0.8rem;
}

.logo {
  height: 6rem;
  width: auto;
  padding-left: 1rem;
}

.navbar-brand,
.navbar-brand:active,
.navbar-brand:visited,
.navbar-brand:hover {
  color: #5ec0a8;
}

.navbar {
  background: transparent;
  box-shadow: 0px 20px 40px #d3d3d3;
}

.nav-ul li a {
  Color: #fbfaf4;
}

.navbar-nav .nav-link {
  Font-family: "titillium-web", sans-serif;
  font-weight: 600;
  color: #5ec0a8;
  text-align: right;
  font-size: 1.1rem;
}

.navbar-nav .nav-link.active {
  Color: #58618B;
}

.navbar-nav .nav-link:hover {
  Color: #58618B;
  font-weight: 600;
}

.navbar-toggler {
  background-color: #DCDDE7;
}

/*
/// navbar con nesting y BEM
/// Aun estoy trabajando en este codigo de nesting con BEM, por eso no lo borro
.navbar {

    &-brand,
    &-brand:active,
    &-brand:visited {
        color: $water-green;

        &-brand:hover {
            font-weight: $bold;
        }
    }

    &-toggler {
        background-color: $light-violet;
    }

    &-nav,
    &-link.active {
        color: $light-violet;
    }

    &-link:hover {
        color: $light-violet;
        background-color: $dark-blue;
    }

    background-color: $blackish;
}
*/
footer {
  background-color: #03093a;
  font-family: "museo-sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #fbfaf4;
  bottom: 0;
  margin-top: 3rem;
  background: transparent;
  box-shadow: 0px -10px 20px #e1e1e1;
}

.listLinks {
  text-decoration: none;
  color: #58618B;
}

.ftMain {
  padding: 1.25rem 1.875rem 3rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}

.ftMainItems {
  padding: 1rem 0;
  min-width: 12.5rem;
  /* Equivalente a 200px para mobile first */
}

.ftMainImg {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.owner {
  color: #5ec0a8;
}

.espacio {
  padding: 0 0.3rem;
}

/* Defino las media queries | Breakpoints */
/* 36rem equivalen al sm de Bootstrap 576px */
@media screen and (max-width: 36rem) {
  .ftMain {
    justify-content: space-around;
  }
  .listLinks {
    display: flex;
    justify-content: center;
  }
  .ftRrss {
    display: flex;
    justify-content: center;
  }
  .pageintro {
    text-align: center;
    padding: 0 1rem 2rem 1rem;
  }
  .gridDesignBio {
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: 2, 1fr;
    justify-content: center;
    padding: 0;
  }
  .biografia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0.8rem;
  }
  .container-img {
    width: 100%;
  }
  .size {
    width: 100%;
    height: auto;
  }
  .parrafo {
    padding: 3rem 2rem 1rem 2rem;
    width: 90%;
  }
  .grandeTxt {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 0.04;
    line-height: 1.4;
  }
  .gridDesignForm {
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: 2, 1fr;
    justify-content: center;
    padding-bottom: 4rem;
  }
  .map {
    margin-top: 5rem;
  }
  .contenido {
    display: flex;
    flex-direction: column;
  }
  .navbar {
    margin-bottom: 4rem;
  }
  footer {
    margin-top: 6rem;
  }
}
/* 62rem equivalen al lg de Bootstrap 992px */
@media screen and (min-width: 37rem) and (max-width: 62rem) {
  .ftMain {
    justify-content: space-evenly;
  }
  .container {
    padding: 0;
    margin: 4rem auto;
  }
  .pageintro {
    text-align: right;
    padding-right: 0.4rem;
  }
  .gridDesignBio {
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: 2, 1fr;
    justify-content: center;
  }
  .biografia {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 2rem 0;
  }
  .container-img {
    width: 100%;
  }
  .size {
    width: 100%;
    height: auto;
  }
  .parrafo {
    padding: 4rem 5rem 2rem 5rem;
  }
  .grandeTxt {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 0.04;
    line-height: 1.6;
  }
  .gridDesignForm {
    width: 100%;
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: 2, 1fr;
    justify-content: center;
    padding: 4rem 0 4rem 0;
  }
  .contenido {
    display: flex;
    flex-direction: column;
  }
}
/* Para resoluciones mayores a 992px */
@media screen and (min-width: 62.063rem) {
  .ftMain {
    justify-content: space-evenly;
  }
  .navbar-expand-lg .navbar-nav {
    padding-right: 2rem;
  }
  .navbar-brand {
    padding-left: 2rem;
  }
  .container {
    padding: 0;
    margin: 7rem auto;
  }
  .pageintro {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 1.4rem;
  }
  .gridDesignBio {
    display: grid;
    grid-template-columns: 2, 1fr;
    grid-template-rows: 1, 1fr;
    grid-template-areas: "foto texto";
  }
  .biografia {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    word-wrap: normal;
    padding-left: 2rem;
  }
  .container-img {
    width: auto;
    align-items: end;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
  }
  .size {
    width: auto;
    height: 90%;
  }
  .parrafo {
    padding: 5rem 6rem 3rem 6rem;
  }
  .grandeTxt {
    font-size: 1.563rem;
    font-weight: 300;
    letter-spacing: 0.04;
    line-height: 1.6;
  }
  .gridDesignForm {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    padding: 2rem 0;
  }
  .contenido {
    display: flex;
    flex-direction: column;
    padding-right: 2.4rem;
  }
}
.bg-body-mine {
  font-family: "titillium-web", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
}

.titles {
  color: #383f7b;
  text-align: center;
}

.vidtitle {
  color: #383f7b;
}

.txtresaltado {
  font-weight: 600;
}

.parrafo {
  border-radius: 30px;
  background: transparent;
  box-shadow: 10px 10px 20px #e1e1e1, -10px -10px 20px #fbfbfb;
}

/*
.grandeTxt {
    font-size: 1.563rem;
    font-weight: 300;
    letter-spacing: 0.04;
    line-height: 1.6;
}*/
.firma {
  font-family: "good-karma-regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.953rem;
}

.vidslinks {
  display: flex;
  flex-direction: column;
}

.vids {
  line-height: 2.6;
  margin-top: 0.8rem;
}

.contIntro {
  background-color: #DCDDE7;
  color: #383f7b;
  padding: 1.4rem;
  display: grid;
}

.vidsWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.accordion-item {
  color: #34536e;
  background-color: transparent;
}

.accordion-button {
  background-color: transparent;
  font-family: "titillium-web", sans-serif;
  font-weight: 300;
  line-height: 1.3;
  font-size: 1.728rem;
  color: #58618b;
}

.collapsed {
  color: #58618B;
}

.accordion-button:focus {
  background-color: #DCDDE7;
  color: #58618b;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: #58618b;
}

.accordion-body {
  padding: 1.2rem 1rem;
}

.vidCard {
  margin: 0.6rem 0;
}

body {
  font-family: "titillium-web", sans-serif;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: 0.04em;
  color: #1E2350;
  background: rgb(3, 9, 58);
  background: linear-gradient(180deg, rgba(3, 9, 58, 0.1026785714) 0%, rgba(0, 100, 136, 0.1026785714) 35%, rgba(94, 192, 168, 0.1) 100%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  padding: 2rem 0;
}

p {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "titillium-web", sans-serif;
  font-weight: 300;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
  color: #58618b;
}

h2 {
  font-size: 2.074rem;
  color: #58618b;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

small,
.text_small {
  font-size: 0.833rem;
  font-weight: 200;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.canales {
  border-radius: 10px;
  border: 1px solid #DCDDE7;
  background-color: #DCDDE7;
  font-weight: 400;
  font-size: 1.1rem;
  color: #58618b;
  padding: 0.6rem 1.2rem;
}

.inputblock {
  display: flex;
  flex-direction: column;
}

.inputlabel {
  font-size: 1em;
  color: #383f7b;
  font-weight: 200;
}

.input {
  border-radius: 8px;
  border: 1px solid #DCDDE7;
  background-color: transparent;
  font-weight: 200;
  letter-spacing: 0.04em;
  height: 3em;
  padding-left: 1em;
}

.inputTextarea {
  border-radius: 8px;
  border: 1px solid #DCDDE7;
  background-color: transparent;
  font-weight: 200;
  letter-spacing: 0.04em;
  padding-left: 1em;
  height: 10rem;
}

.sendForm {
  border-radius: 10px;
  border: 1px solid #DCDDE7;
  background-color: #DCDDE7;
  font-weight: 400;
  font-size: 1.1rem;
  color: #58618b;
  padding: 0.6rem 1.2rem;
}

.formButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map {
  width: 100%;
  height: 70%;
}

.mapItems {
  padding: 4rem 0.6rem;
}

.animation {
  animation: foto 5s;
  border-radius: 30px;
  background: transparent;
  box-shadow: -10px 10px 20px #d3d3d3, 10px -10px 20px #ededed;
}

@keyframes foto {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animationMap {
  animation: mapa 5s;
  border-radius: 30px;
  background: transparent;
  box-shadow: 10px -10px 20px #e1e1e1, -10px 10px 20px #ededed;
}

@keyframes mapa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.button:hover {
  animation: button 2s;
}

@keyframes button {
  0% {
    background-color: #DCDDE7;
  }
  50% {
    background-color: #383f7b;
    color: #DCDDE7;
  }
  100% {
    background-color: #DCDDE7;
  }
}
html {
  font-size: 100%;
}

/*16px*/
/* Reset */
* {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=stylesheet.css.map */
