/// Variables del formulario
.inputblock {
    display: flex;
    flex-direction: column;
}

.inputlabel {
    font-size: 1em;
    color: $dark-violet;
    font-weight: $extra-light;
}

.input {
    @include smallRadius(8px);
//    @include neoForm(8px , 6px);
    height: 3em;
    padding-left: 1em;
}

.inputTextarea {
    @include smallRadius(8px);
//    @include neoForm(8px , 6px);
    padding-left: 1em;
    height: 10rem;
}

.sendForm {
    @include midRadius(10px);
}

.formButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map {
    width: 100%;
    height: 70%;
    padding-top: 2rem;
}

.mapItems {
    padding: 4rem 0.6rem;
}