/// partial de las propiedades de todas las imagenes del sitio
.productos {
    @include prods(30px);
    width: 20rem;
}

.services {
    @include prods(30px);
    width: 100%
}
/*
.prods {
    @include prodimgs(30px, 0, 10px, 10px);
    padding: 7rem 9rem;
}*/

.servicios {
    @include prodimgs(30px, 0, 10px, 10px);
    padding: 3rem;
}
/*
.venta {
    @include prodsVenta(30px);
    @include neoNavbar(0, 5px, 10px);
    padding: 4rem 9rem 7rem 9rem;
}*/

.underline {
    text-decoration-line: underline;
    text-decoration-color: $underline;
    text-underline-offset: -0.7rem;
    text-decoration-thickness: 1.2rem;
    text-decoration-skip-ink: none;
}

.underlineSmall {
    text-decoration-line: underline;
    text-decoration-color: $underline;
    text-underline-offset: -0.2rem;
    text-decoration-thickness: 0.5rem;
    text-decoration-skip-ink: none;
}
/*
.compraLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 15rem 0 15rem;
}*/

.servCards {
    padding-bottom: 3rem;
}

.carousel-inner .item img {
    object-fit: scale-down;
    height: 50vh;
    width: 100%;
}