/// partial de las propiedades de todas las imagenes del sitio
.productos {
    @include prods(30px);
    width: 20rem;
}

.services {
    @include prods(30px);
    width: 100%
}

.servicios {
    @include prodimgs(30px, 0, 10px, 10px);
    padding: 3rem;
}

.underline {
    text-decoration-line: underline;
    text-decoration-color: $underline;
    text-underline-offset: -0.7rem;
    text-decoration-thickness: 1.2rem;
    text-decoration-skip-ink: none;
}

.underlineSmall {
    text-decoration-line: underline;
    text-decoration-color: $underline;
    text-underline-offset: -0.2rem;
    text-decoration-thickness: 0.5rem;
    text-decoration-skip-ink: none;
}

.servCards {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 1.4rem;
    padding-bottom: 3rem;
}

.carousel-inner .item img {
    object-fit: scale-down;
    height: 50vh;
    width: 100%;
}

.indexImgs {
    max-width: 95vw;
    padding: 0;
}