/// Variables del body
$background: rgb(3, 9, 58);
$background-gradient: linear-gradient(180deg, rgba(3, 9, 58, 0.1026785714285714) 0%, rgba(0, 100, 136, 0.1026785714285714) 35%, rgba(94, 192, 168, 0.1) 100%);


/// Variables de color
$white: #fbfaf4;
$water-green: #5ec0a8;
$mid-blue: #34536e;
$dark-blue: #03093a;
$lightest-violet: #DCDDE7;
$light-violet: #58618B;
$mid-violet: #58618b;
$dark-violet: #383f7b;
$darkest-violet: #1E2350;
$underline: #F1EEA6;


/// Variables de color de shadows de neomorphism
$darkGray: #d3d3d3;
$lightGray: #e1e1e1;
$darkWhite: #ededed;
$lightWhite: #fbfbfb;


/// Variables de bordes
$slim-border: 1px solid;
$lightest-violet-border: $slim-border $lightest-violet;
$light-violet-border: $slim-border $light-violet;
$light-border: $slim-border $white;
$dark-border: $slim-border $dark-violet;


/// Variables de border-radius con mixin
@mixin smallRadius($rad) {
    border-radius: $rad;
    border: $lightest-violet-border;
    background-color: transparent;
    font-weight: $extra-light;
    letter-spacing: 0.04em;
}

@mixin midRadius($rad) {
    border-radius: $rad;
    border: $lightest-violet-border;
    background-color: $lightest-violet;
    font-weight: $regular;
    font-size: 1.1rem;
    color: $mid-violet;
    padding: 0.6rem 1.2rem;
}

@mixin imgRadius($radius, $eje) {
    border-radius: $radius;
    background: transparent;
    box-shadow: (-$eje) $eje ($eje*2) $darkGray, $eje (-$eje) ($eje*2) $darkWhite;
}

@mixin mapRadius($radius, $eje) {
    border-radius: $radius;
    background: transparent;
    box-shadow: $eje (-$eje) ($eje*2) $lightGray, (-$eje) $eje ($eje*2) $darkWhite;
}


/// mixin para las imagenes de los productos
@mixin prodimgs($rad, $ejex, $ejey, $blur) {
    border-radius: $rad;
    border: $light-border;
    background: transparent;
    box-shadow: $ejex (-$ejey) $blur $lightWhite, $ejex $ejey $blur $darkGray;
}

/// Para productos
@mixin prods($rad) {
    border-radius: $rad;
    background: transparent;
}

@mixin prodsVenta($rad) {
    border-radius: $rad;
    background: transparent;
    border: $lightest-violet-border;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


/// uso de la propiedad extend
%cajaNeo {
    padding: 4rem 8rem 2rem 8rem;
    color: $dark-violet;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    line-height: 1.3;
}


/// mixin de neomorphism con extend
@mixin neoTexto($radius, $eje) {
    @extend %cajaNeo;
    border-radius: $radius;
    background: transparent;
    box-shadow: $eje $eje ($eje*2) $lightGray, (-$eje) (-$eje) ($eje*2) $lightWhite;
}

@mixin neoNavbar($ejex, $ejey, $blur) {
    background: transparent;
    box-shadow: $ejex $ejey ($ejey*2) $darkGray;
}

@mixin neoFooter($ejex, $ejey, $blur) {
    background: transparent;
    box-shadow: $ejex (-$ejey) ($ejey*2) $lightGray;
}

@mixin neoForm($radius, $eje) {
    border-radius: $radius;
    background: transparent;
    box-shadow: $eje $eje ($eje*2) $lightGray, (-$eje) (-$eje) ($eje*2) $lightWhite;
}


/// mixin para titulos
@mixin titulos {
    color: $dark-violet;
    padding-bottom: 1.4rem;
}