/// Variables del accordion
.contIntro {
    background-color: $lightest-violet;
    color: $dark-violet;
    padding: 1.4rem;
    display: grid;
}

.vidsWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.accordion {
    margin-top: 2.7rem;
}

.accordion-item {
    color: $mid-blue;
    background-color: transparent;
}

.accordion-button {
    background-color: transparent;
    font-family: $sans-serif;
    font-weight: $light;
    line-height: 1.3;
    font-size: 1.728rem;
    color: $mid-violet;
}

.collapsed {
    color: $light-violet;
}

.accordion-button:focus {
    background-color: $lightest-violet;
    color: $mid-violet;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: $mid-violet;
}

.accordion-body {
    padding: 1.2rem 1rem;
}

.vidCard {
    margin: 0.6rem 0;
}