/// Personalizadas para mi sitio
/// Para las fotos
.animation {
    animation: foto 5s;
    @include imgRadius(30px , 10px);
}

.animationIndex {
    animation: foto 5s;
    @include imgRight(30px , 0 , 10px , 20px);
}

@keyframes foto {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/// Para el mapa
.animationMap {
    animation: mapa 5s;
    @include mapRadius(30px , 10px);
    margin-top: 14rem;
    height: auto;
}

@keyframes mapa {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/// Para los botones
.button:hover {
    animation: button 2s;

}

.linkBox:hover {
    animation: indexButton 3s;
}

@keyframes button {
    0% {
        background-color: $lightest-violet;
    }

    50% {
        background-color: $dark-violet;
        color: $lightest-violet;
    }

    100% {
        background-color: $lightest-violet;
    }
}

@keyframes indexButton {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: $lightest-violet;
    }

    100% {
        background-color: transparent;
    }
}