/// Variables del footer
footer {
    font-family: "museo-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: $white;
    bottom: 0;
    @include neoFooter(0px , 10px , 20px)
}

.listLinks {
    text-decoration: none;
    color: $light-violet;
}

.ftMain {
    padding: 1.25rem 1.875rem 3rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}

.ftMainItems {
    padding: 1rem 0;
    min-width: 12.5rem;
    /* Equivalente a 200px para mobile first */
}

.ftMainImg {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.owner {
    color: $water-green;
}

.espacio {
    padding: 0 0.3rem;
}

.espacio:hover {
    box-shadow: 0 5px 10px $lightGray;
}
