/* .contactoCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3em;
} */

.uno {
    background-color: azure;
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/2;
    border: 1px solid #000;
}

.dos {
    background-color: beige;
    text-align: center;
    grid-column: 3/-1;
    grid-row: 1/2;
    border: 1px solid #000;
}

.tres {
    background-color: blanchedalmond;
    text-align: center;
    grid-column: 1/-1;
    grid-row: 2/3;
    border: 1px solid #000;
}

.cuatro {
    background-color: aquamarine;
    text-align: center;
    grid-column: 1/4;
    grid-row: 3/4;
    border: 1px solid #000;
}

.cinco {
    background-color: bisque;
    text-align: center;
    grid-column: 4/-1;
    grid-row: 3/4;
    border: 1px solid #000;
}

/*         <section class="container">
            <div class="serviciosCards">
                <div class="uno">1</div>
                <div class="dos">2</div>
                <div class="tres">3</div>
                <div class="cuatro">4</div>
            </div>
        </section> */


/*         <section class="container">
<div class="contactoCards">
    <div class="uno">1</div>
    <div class="dos">2</div>
    <div class="tres">3</div>
    <div class="cuatro">4</div>
    <div class="cinco">5</div>
</div>
</section>


<section class="container">
<div class="contactoCards">
    <div class="container-img">1</div>
    <div class="biografia">2</div>
    <div class="contParrafo">3</div>
    <div class="contactForm">4</div>
    <div class="mapArea">5</div>
</div>
</section> */