/// Tipos de fuentes que voy a usar en el sitio web
$sans-serif: "titillium-web", sans-serif;
$decorative: "good-karma-regular", sans-serif;


/// Variables de fuentes: weight
$extra-light:200;
$light: 300;
$regular: 400;
$semi-bold:600;
$semi-bold-italic: $semi-bold italic;
$bold: 700;


/// Variantes del body
.bg-body-mine {
    font-family: $sans-serif;
    font-weight: $light;
    font-style: normal;
    font-size: 1em;
}

.titleCenter {
    text-align: center;
    @include titulos;
}



// Variantes de p
.txtresaltado {
    font-weight: $semi-bold;
    color: $dark-violet;
}

.parrafo {
    @include neoTexto(30px , 10px);
}

.contParrafo {
    @include neoTexto(30px , 10px);
}

.firma {
    font-family: $decorative;
    font-weight: $regular;
    font-style: normal;
    font-size: 1.953rem;
}

.vidslinks {
    display: flex;
    flex-direction: column;
}

.vids {
    line-height: 2.6;
    margin-top: 0.8rem;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.indexBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}